@import '../../colors';
.car-category {
    float: left;
    padding: 30px;
}
.category-name {
    width: 100%;
    font-size: 26px;
    background-color: $category-name-grey;
    padding: 20px 0 20px 50px;
}
.category-wrapper {
    width: 100%;
    display: inline-block;
}